@font-face {
    font-family: 'RustaDoverSans';
    src: url('RustaDoverSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RustaDoverSans';
    src: url('RustaDoverSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
