@font-face {
    font-family: 'Rusta Dover Sans';
    src: url('RustaDoverSans-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rusta Dover Sans';
    src: url('RustaDoverSans-Regular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rusta Pris Typo';
    src: url('RustaPrisTypo-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

